*.img
*.o
*.ko
*.mod
*.mod.c
*.cmd
*.order
*.symvers
*.tmp
*.tmp.*
*.log

Module.symvers
modules.order

.tmp_versions/

mkfs.cryexts
cryextsck
cryexts_journal_inject
cryexts_journal_v2_inject
cryexts_orphan_inject
cryexts_extent_inspect
cryexts_dir_index_inspect
cryexts_policy_inspect
cryexts_journal_inspect
cryexts_alloc_inspect
cryexts_xattr_inspect
cryexts_gdt_inspect

Thumbs.db
.DS_Store
